<%- include("../_layouts/adminheader") %>
<br/>

<div class="jumbotron">
	<h1 class="text-center"><strong>Welcome Admin.</strong></h1>
	<hr/>
	<h2 class="text-center"> You may view the product below.</h2>
</div>

<div class="row">
	<div class="col-sm-12 text-center">
		<a href="/admin/products" class="btn btn-primary">Back to Product List</a>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<br/>
		<br/>
		<h2 style="page-decoration:underline">Product Viewing</h2>	

		<br/>
		<br/>
		<table class="table table-striped">
			<thead>
				<tr>
					<th><strong>Product</strong></th>
					<th><strong>Price</strong></th>
					<th><strong>Category</strong></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="capitalize-text"><%= title.replace(/\-+/g, " ") %></td>
					<td class="capitalize-text">$<%= parseFloat(price).toFixed(2) %></td>
					<td class="capitalize-text"><%= category %></td>
				</tr>
			</tbody>
		</table>

		<div class="row">
			<div class="col-sm-12 text-center img-responsive" style="margin:0 auto; margin-top: 50px">
				<h4><strong>Product Description</strong></h4>
				<p style="font-weight: 300; font-family: 'Arial', sans-serif" class="capitalize-text"><%- description %></p>
			</div>
			<div class="col-sm-12 text-center img-responsive" style="margin:0 auto; margin-top: 20px">
				<h4><strong>Product Image</strong></h4>
				<% if (image === "") { %>
					<img src="/images/defaultImg.png" alt="Default Profile Image" width="350" height="350">
				<% } else { %> 
					<img id="productImgPreview" width="550" height="500" src="/product_images/<%= id %>/<%= image %>" alt="Product Image">
				<% } %>
			</div>
			<div class="col-sm-12 text-center img-responsive">
				<br/>
				<hr/>
				<h2 class="page-header text-center">Image Gallery</h2>
				<ul class="gallery noListDots d-flex justify-content-left flex-wrap">
					<% galleryImages.forEach(function(image) { %>
						<% if (image !== "thumbnails") { %>
						<br/>
						<br/>
						<li class="thumbnailDisplayPix">
							<img width="150" height="100" class="flex" src="/product_images/<%= id %>/gallery/thumbnails/<%= image %>" alt="Product Image">
							&nbsp;
							<br/>
							<a class="confirmDeletion" href="/admin/products/delete-image/<%= image %>/?id=<%= id %>">delete</a>
						</li>
						<% } %>
					<% }); %>
				</ul>
				<% if (galleryImages.length <= 1) { %>
					<h4 class="text-center"><em>No gallery images yet added.</em></h4>
				<% } %>
				<% console.log("galleryImages.length = "); %>
				<% console.log(galleryImages.length); %>
			</div>
		</div>			
	</div>
</div>

<%- include("../_layouts/adminfooter") %>